@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.title-location-author {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
}
  
  .housing-title-author {
    display: flex; /* Aligne le titre et l'auteur sur la même ligne */
    align-items: center; /* Centre verticalement */
    justify-content: space-between;
  }
  
  .housing-title {
    margin: 0; /* Évite les marges par défaut */
    margin-right: 10px; 
    font-weight: 500;
    color:#FF6060;
  }
  
  .location {
    margin:0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
  }
  
  .author-info {
    display: flex; /* Aligne le nom et la photo de l'auteur horizontalement */
    align-items: center; /* Centre verticalement l'image par rapport au texte */
    margin-left: 10px; /* Espace entre le titre et l'auteur */
    margin-top: 10px;
  }
  
  .author-name {
    display: flex;
    flex-direction: column;
    color:#FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    margin-right: 10px;
  }
  
  .author-firstname,
  .author-lastname {
    margin: 0; /* Évite les marges par défaut */
  }
  
  .author-picture {
    width: 64px; /* Ajuste la taille de l'image de l'auteur */
    height: 64px; /* Ajuste la taille de l'image de l'auteur */
    border-radius: 50%; /* Rend l'image ronde */
  }
  