@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

  .author-info {
    display: flex; /* Aligne le nom et la photo de l'auteur horizontalement */
    align-items: flex-end; /* Centre verticalement l'image par rapport au texte */
    margin-left: 10px; /* Espace entre le titre et l'auteur */
    margin-top: 10px;
    
  }
  
  .author-name {
    display: flex;
    flex-direction: column;
    color:#FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    margin-right: 10px;
  }
  
  .author-firstname,
  .author-lastname {
    margin: 0; /* Évite les marges par défaut */
  }
  
  .author-picture {
    width: 64px; /* Ajuste la taille de l'image de l'auteur */
    height: 64px; /* Ajuste la taille de l'image de l'auteur */
    border-radius: 50%; /* Rend l'image ronde */

  }
  @media (max-width: 768px) {
    .title-location-author{
      font-size: 14px;
    }
    .author-info{
      position: relative;
      top:110px;
      width: 13%;
      padding-right: 25px;
    }
    
  .author-firstname,
  .author-lastname {
    font-size:12px ;
  }
  .author-picture{
    width: 32px;
    height: 32px;
  }
  .author-name {
    width: 90px;
    height: 33px;
    margin-bottom: 10px;
  }
}
@media (max-width: 524px) {
  .author-info{
    padding-right: 45px;
  }
}