.about-page {
  padding:10px;
    .accordion {
      margin-bottom: 1rem;

      .accordion-header {
        width: 90%;
        margin: auto;
      }
     
      .accordion-content.open {
        max-height: 1000px; // Ensure this is high enough to contain your content
        padding: 1rem;
      }
    }
  }
  @media (max-width: 768px) {
    .about-page{
      margin: auto;
      
      
      .accordion{
        margin:0;
        
        width: 100%;
        margin-bottom: 20px;
      }
      .accordion-header {
        height: 10px;
      }
      .accordion-header h2 {
        font-size: 14px;
      }
  }
}