.home {
  
    .rental-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 20px;
      width: 90%;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    .rental-container{
      width: 100%;
      
    }
  }