.housing-details {
  padding: 0 50px;
  width: 1240px;
  margin:auto;
  
  .housing-accordion {
    width: 1240px;
    display: flex;
    align-items: flex-start; // Align items to the top to prevent shift
    justify-content: space-between;
    margin: 20px 0px;
    gap:80px;
    
    .accordion {
      width: 50%;
    }
  }
  
  .Tag-and-Rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
}
