.accordion {
  color: #fff;
  margin-bottom: 1rem;
  margin: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column; // Garder une direction verticale
  justify-content: center;
  align-items: center;

  .accordion-header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FF6060;
    cursor: pointer;
    height: 20px; 
    width: 100%;
  
  }
  .accordion-header h2{
    font-size: 18px;
  }
  .accordion-icon{
    font-size: 30px;
    transition: transform 0.3s ease;
  }
  .accordion-icon.open {
    transform: rotate(180deg);
  }
  .accordion-content {
    padding: 0 1rem;
    background-color: #fff;
    color: black;
    width: 90%;
    transition: max-height 0.5s ease, padding 0.5s ease;
    overflow: hidden;
    max-height: 0; // Commence avec une hauteur nulle
   
    &.open {
        max-height: 1000px;
        padding: 1rem;
        
      }
    }
  
    p {
      color: black;
      font-size: 18px;
      margin: 0; // Supprimer la marge pour éviter l'empiètement
      
    }

  ul {
    list-style-type: none;
    padding: 0;
  }
  

}
@media (max-width: 1024px) {
  .accordion{
    width: 100%;

    .accordion-header{
      width:100%;
    }
  }
}
@media (max-width: 768px) {
  .accordion{
    p {
      font-size: 14px;
    }
    li{
      font-size: 14px;
    }
    .accordion-header h2{
      font-size: 13px;
    }
    
  }
  .accordion-header{
    width:90%;

    
  }
 
}
