@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px;
    nav {
      display: flex;
      align-items: center;
  
      a {
        margin-right: 1rem;
        text-decoration: none;
        color:black;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 34.22px;
        text-align: right;
        padding-left: 50px;

        &:hover {
          text-decoration: underline;
        }
      }
  
      .logo {
        height: 50px;
        margin-right: 1rem;
      }
    }
  }
  